Pygithub
DiscordBar
jishaku
icecream
quart
git+https://github.com/Rapptz/discord-ext-menus
PyYAML
requests
discord.py
firebase
asyncio
wavelink
youtube_dl
psutil
opencv-python
pycryptodome
python_jwt
sseclient
gcloud
python-dotenv
requests_toolbelt
hypercorn
requests
python-socketio
Quart-Discord
discord-together
dislash.py
git+https://github.com/BANanaD3V/discord-ext-dashboard.git
python-uptimerobot
Pillow
jishaku
websocket-client
python-socketio
discord-ext-menus
termcolor
colorama
