Pygithub
python-multibar
disnake-jishaku
icecream
quart
PyYAML
requests
git+https://github.com/DisnakeDev/disnake
git+https://github.com/DisnakeDev/disnake#egg=disnake[discord,voice,speed]
firebase
asyncio
https://github.com/sync1211/Wavelink-Disnake/archive/refs/heads/master.zip
youtube_dl
psutil
opencv-python
pycryptodome
python_jwt
sseclient
gcloud
python-dotenv
requests_toolbelt
disnake-ext-menus
humanize
hypercorn
aiohttp
requests
python-socketio
motor
Quart-Discord
discord-together
discord-ext-ipc
python-uptimerobot
Pillow
numpy
jishaku
websocket-client
python-socketio
termcolor
colorama
