<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Among Us - Pure CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="static/css/amogus.css">
 
</head>
<audio id="amogus" src="static/sounds/amogus.mp3" loop="loop"></audio>
<script>
function FakeUrl() {
    window.history.pushState(null,null,"premium")
    document.getElementById("amogus").play();
  }
</script>
<body onload="FakeUrl()">
 
<sky>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
  <star></star>
</sky>
 
<h1><span>B</span><span>l</span><span>u</span><span>e</span><span class="w"> </span><span>w</span><span>a</span><span>s</span><span class="w"> </span><span>e</span><span>j</span><span>e</span><span>c</span><span>t</span><span>e</span><span>d</span><span>.</span></h1>
 
<boi>
  <rightleg></rightleg>
  <leftleg></leftleg>
  <backpack></backpack>
  <belly></belly>
  <eye></eye>
  <leftleg></leftleg>
</boi>
 
<svg xmlns="http://www.w3.org/2000/svg">
  <filter id="inset" x="-50%" y="-50%" width="200%" height="200%">
    <feFlood flood-color="black" result="outside-color"/>
    <feMorphology in="SourceAlpha" operator="dilate" radius="3.5"/>
    <feComposite in="outside-color" operator="in" result="outside-stroke"/>
    <feFlood flood-color="#0c9fc4" result="inside-color"/>
    <feComposite in2="SourceAlpha" operator="in" result="inside-stroke"/>
    <feMerge>
      <feMergeNode in="outside-stroke"/>
      <feMergeNode in="inside-stroke"/>
    </feMerge>
  </filter>
</svg>
 
   
 
</body>
</html>
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->
<!-- among us ejected screen -->