{% extends "base.html" %}
{% import "base.html" as base %}
{% block username %} {{ user.name }} {% endblock %}
{% block headline %} Bot Settings {% endblock %}
{% block description %} Change your preferences for the bot's behavior. {% endblock %}
{% block user_avatar %} {{ user.avatar_url }} {% endblock %}
{% block content %}
    {% call base.card("Prefix") %}
        <div class="input-field">
            <input id="prefix" type="text" class="validate white-text" maxlength="5" value="{{ config['prefix'] }}">
            <label for="prefix">Prefix</label><br>
            <a class="waves-effect waves-light btn save-btn" onclick="save('{{ guild.id }}', 'prefix', $('#prefix').val());">save</a>
        </div>
    {% endcall %}
{% endblock %}