* {
	box-sizing: border-box;
  }
  
body {
	font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Style the counter cards */
.cardd {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	border-radius: 10px;
	text-align: center;
	background-color: #882b2b;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }


/* Showcase */
.showcase {
	height: 700px;
	position: relative;
	background-color: #292929;
}
.trans {
	background-image: linear-gradient(#424242, #424242, #882b2b, #882b2b);
}
svg {
	width: 100%;
	height: 100%;
  }  
  
.viz {
	opacity: 1;
	transition: 1s;
}
.benefits {
    width: 100%;
    background: #222222;
}

.benefits__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 60px 0;
}

.benefits__header {
    width: 100%;
    text-align: center;
    line-height: 1.3;
    padding: 0 15px 60px;
    color: #e2e2e2;
    font-size: 2rem;
    text-transform: uppercase;
}

.benefits__element {
    width: 30%;
}

.benefits__icon {
    display: block;
    width: 60px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.benefits__element p {
    color: #cdcdcd;
    text-align: center;
    line-height: 1.3;
}

.benefits__number {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    opacity: 0;
}

.benefits__title {
    font-size: 1.125rem;
}

.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
  
  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
	-moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
	position: absolute;
    right: 0;
	opacity: 0;
    background-color: rgba(32, 32, 36, 0.65);
    border-bottom: none;
	height: 0;
	min-width: 160px;
	display: block;
	visibility: hidden;
	z-index: 1;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.dropdown-content.showed {
	opacity: 1;
	height: auto;
	min-width: 160px;
	visibility: visible;
}
  /* Links inside the dropdown */
#dashdropbutton{
	border-bottom-left-radius: 30px;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	color: white;
	display: inline-block;
	transition: 0.3s;
}

#exitdropbutton{
	border-bottom-right-radius: 30px;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	color: white;
	display: inline-block;
	transition: 0.3s;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #ff0000 !important;
	transition: 0.3s
}
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.trans2 {
	background-color: #424242;
}
.usercard {
	/* Add shadows to create the "card" effect */
	transition: 1s;
}
  

.usercard img {
	border-radius: 90px;
	height: 50px;
	max-width: 50px;
	margin: 10px;
	margin-top: 10px

}
  /* Add some padding inside the card container */
.container {
	padding: 2px 16px;

}
.ccont {
	display: inline-block;
	padding: 2px 16px;
}
.showcase h1 {
	font-size: 40px;
	position: center;
	text-align: center;
}
.usercard h4 {
	margin: 10px;
	margin-left: -15px;
}

.usercard p {
	margin: 10px;
	margin-left: -15px;
	margin-bottom: 20px;
	margin-top: -5px
}

.showcase p {
	margin: 20px 0;
	text-align: center;
}

.showcase .flex {
	overflow: visible;
	justify-content: center;
}


.function {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.functions-block {
    padding: 20px;
}

.functions-title {
    text-align: center;
}

.function-info {
    width: 50%;
    margin: 10px;
}

.function-title {
    font-weight: 800;
    font-size: 30px;
    color: #ebf2ff;
}

.function-img {
    border: 2px solid #b6b6b6;
    border-radius: 15px;
    width: 480px;
}

.func-l {
    order: 1;
    text-align: right;
}

.func-r {
    order: 2;
    text-align: left;
}

@media (max-width: 945px) {
    .function-img {
        width: 380px;
    }
}

@media (max-width:744px) {
    .function {
        display: block;
        text-align: center;
    }

    .function-info {
        width: auto;
        text-align: center;
    }
    .function-img {
        width: 90%;
    }

}

@media (max-width: 400px) {
    .function-img {
        margin: 10px;
    }
}





.mobile {
	display: none;
}

/* Tablet Responsive */
@media (max-width: 768px) {
	.dropdown-content {position: revert; border-bottom-left-radius: revert; border-bottom-right-radius: revert}
}

@media (max-width: 450px) {
	.showcase {
		height: 450px;
	}
	.showcase .buttons {
		flex-direction: column;
	}

	.showcase h1 {
		font-size: 25px;
	}

	.showcase p {
		font-size: 14px;
	}

	.showcase a {
		width: 100%;
		text-align: center;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}
