* {
	box-sizing: border-box;
  }
  
body {
	font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Style the counter cards */
.cardd {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	border-radius: 10px;
	text-align: center;
	background-color: #424242;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }


/* Showcase */
.showcase {
	height: 700px;
	position: relative;
	background-color: #0084a5;
}
.trans {
	background-image: linear-gradient(#0084a5, #0084a5, #424242);
}
svg {
	width: 100%;
	height: 100%;
  }  
.trans2 {
	background-color: #0084a5;
}
.showcase h1 {
	font-size: 40px;
	position: center;
	text-align: center;
}

.showcase p {
	margin: 20px 0;
	text-align: center;
}

.showcase .flex {
	overflow: visible;
	justify-content: center;
}

/* Panels */
.features {
	height: auto 500px;
	background-color: #424242;
}

.features h3 {
	text-align: center;
	font-size: 25px;
	font-weight: 400;
}

.features p {
	text-align: center;
}

.features img {
	border-radius: 5px;
	justify-self: center;
	width: 75%;
}

.mobile {
	display: none;
}

/* Tablet Responsive */
@media (max-width: 768px) {
	.features img {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.showcase {
		height: 450px;
	}

	.showcase .buttons {
		flex-direction: column;
	}

	.showcase h1 {
		font-size: 25px;
	}

	.showcase p {
		font-size: 14px;
	}

	.showcase a {
		width: 100%;
		text-align: center;
	}

	.features .grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}
